<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Головна</title>
    <link href="styles.css" rel="stylesheet">
</head>
<body>
<header>
    <h1>Ласкаво просимо на наш сайт</h1>
    <nav>
        <ul>
            <li><a href="/">Головна</a></li>
            <li><a href="/myPage">Моя Сторінка</a></li>
            <li><a href="/about">Про нас</a></li>
        </ul>
    </nav>
</header>
<main>
    <section>
        <h2>Головна сторінка</h2>
        <p>Ласкаво просимо на наш сайт! Тут ви знайдете різноманітні ресурси та інформацію про наші послуги. Досліджуйте наш сайт, щоб дізнатися більше про те, що ми пропонуємо.</p>
        <p>Ми прагнемо надати найкращий досвід для наших користувачів. Перегляньте різні розділи, щоб отримати повне уявлення про наші пропозиції.</p>
        <img src="https://serpstat.com/files/img/97/1553697258.1737.png" alt="Зображення головної сторінки" style="width:50%; height:auto;">
    </section>
</main>
<footer>
    <p>&copy; 2024 Наш Сайт</p>
</footer>
</body>
</html>
