<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Моя Сторінка</title>
    <link href="styles.css" rel="stylesheet">
</head>
<body>
<header>
    <h1>Ласкаво просимо на мою сторінку</h1>
    <nav>
        <ul>
            <li><a href="/">Головна</a></li>
            <li><a href="/myPage">Моя Сторінка</a></li>
            <li><a href="/about">Про нас</a></li>
        </ul>
    </nav>
</header>
<main>
    <section>
        <h2>Про мене</h2>
        <p>Привіт! Ласкаво просимо на мою особисту сторінку. Тут я ділюся своїми думками про роботу, хобі та інтереси. Це простір, де я можу виразити себе і спілкуватися з однодумцями.</p>
        <p>Я захоплююся веб-розробкою та люблю експериментувати з новими технологіями. Відчуйте себе вільно, досліджуючи і дізнаючись більше про мене та мої проекти.</p>
        <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/23/6a/fc/e9/caption.jpg?w=1200&h=-1&s=1" alt="Зображення моєї сторінки" style="width:50%; height:auto;">
    </section>
</main>
<footer>
    <p>&copy; 2024 Моя Сторінка</p>
</footer>
</body>
</html>
